body {
  background: #BCEBF4;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFCF64;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #EE4938;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #EEB538;
}

header{
	background-color: #FF7364;
	color: #EEB538;
	font-family: Georgia, Palatino, serif;
  	font-size: 70px;
  	height: 85px;
  	padding: 10px;	
}

header img{
	float: left;
	padding-right: 10px;
}

h2 {
	
  	font-size: 24px;
  	font-family: arial,sans-serif;
  	color: #EE4938;
  	text-align: center;
}

h3 {
	font-size: 24px;
  	font-family: arial,sans-serif;
  	color: #258293;
  	text-align: center;
}

#orderSum{
	display: block;
	background-color: #FFEDC3;
}

.directionHead{
	font-size: 24px;
  	font-family: arial,sans-serif;
  	color: #258293;
  	text-align: left;
}

footer{
	background-color: #FFFEFD;
	border-color: #FF7364;
	border-top-style: solid;
	border-bottom-style: solid;
	padding-left:5px;
	padding: 10px;
	margin: 10px;

}

p{
	background-color: #FFFEFD;
	margin: 0px;
	padding: 10px;
	font-family: arial,sans-serif;
}

section{
	background-color: #FFFEFD;
	border-style: solid;
	border-color: #FF7364;
	border-radius: 5px;
	padding: 5px;
	margin: 20px;
}